.item {
  border: 5px solid cyan;
}

.image {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}

.content {
  padding: 10px;
}

.title {
  margin: 0;
  margin-bottom: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
